html {
   font-size:62.5%; 
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}


// $breakpoints: (
//         "xs": 366px,
//         "sm" : 576px,
//         "md" : 768px,
//         "lg" : 992px,
//         "xl" : 1200px,
//         "xxl" : 1400px,
//         "xxxl" : 1700px
// );

.container {
  margin: 50px 0;
}
