@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

$font-Lato: Lato, sans-serif;
$font-Roboto: Helvetica, sans-serif;
$primary-color: #12395d;
$secondery-color: #1e0d38;

.header {
    width: 90%;
    margin: 0 auto;
}
.header-title {
  font-family: $font-Lato;
  color: $primary-color;
  font-size: 2.5rem;
  padding-bottom: 0.5em;
  text-align: center;
}
.header-subtitle {
  font-family: $font-Lato;
  color: $secondery-color;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 4.2rem;
  }
  .header-subtitle {
    font-size: 2rem;
  }
}
