

// Fonts 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');


.card {
  margin-left: 1em;
  width: 242px;
  height: 337px;
  font-family: Roboto;
  text-align: center;
  background-color: #0C2B48;
  border-radius: 5px;
}

.logo-img {
  width: 242px;
  height: 100px;
}
.card-details {
  border: 2px dashed #1d8efa;
  border-radius: 0px 0px 80px 0px;
  background-color: #fff;
  height:235px;
  position:relative
}
.exclusive-tag {
  position: absolute;
  bottom: 169px;
  right: 177px;
}
.card-title {
  color: #0460a9;
  margin-top: 1em;
  font-size: 2rem;
  font-weight: 600;
}

.card-line {
  width: 30%;
  margin: 0.9em auto;
  border: none;
  height: 2.5px;
  background-color: #0460a9;
}
.card-precent {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: -0.8em;
  margin-right: -4.9em;
  color: #0c2b48;
}
.card-price {
  font-size: 5.4rem;
  font-weight: 600;
  color: #0c2b48;
}
.card-spins {
  font-size: 2.1rem;
  margin-top: -0.3em;
  font-weight: 600;
  color: #0c2b48;
}
.card-gold {
  font-size: 1.6rem;
  font-weight: 400;
  color: #0460A9;
}

.card-section {
  display: flex;
  width: 90%;
  margin: 1em auto;
  justify-content: space-around;
}
.card-btn {
  background-color: #fac515;
  border: none;
  border-radius: 100px;
  padding: .2em 4em;
  // width: 175px;
  font-size: 1.6rem;
  font-family: Lato;
  font-weight: 700;
}

.quastion-mark {
  position: relative;
  left: 107px;
  bottom:22px;
}

.flag {
  position: relative;
  left: 9px;
}